.mh-container {
  width: 960px;
  margin: 0px auto; }

header {
  width: 100%;
  padding: 0 0 0 0;
  float: left; }
  header h1 {
    float: left;
    padding-top: 50px;
    width: 100%; }

.experiment {
  width: 100%;
  height: 30px;
  padding: 5px;
  background: darkslategrey;
  color: white;
  text-align: center;
  float: left; }
  .experiment p {
    line-height: 20px;
    float: right; }
  .experiment a {
    display: block;
    line-height: 20px;
    height: 20px;
    background: white;
    color: black;
    margin: 0 20px 0 20px;
    padding: 0px 5px;
    float: right;
    text-decoration: none; }
    .experiment a:hover {
      background: lightgrey; }

.search {
  width: 100%;
  text-align: center;
  floatt: left; }
  .search input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid crimson;
    box-shadow: none; }
  .search .text {
    float: left;
    margin: 20px 0 50px 100px; }
  .search input[type="submit"] {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid crimson;
    padding: 0 20px;
    background: crimson;
    box-shadow: none; }
  .search .submit {
    float: left;
    margin: 20px 0 50px -2px; }

.try {
  float: left;
  background: darkslategrey;
  height: 50px;
  width: 100%; }
  .try span {
    color: white;
    float: left;
    line-height: 50px; }
  .try ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0; }
    .try ul li {
      float: left;
      display: inline;
      color: white;
      line-height: 50px;
      margin: 0 10px;
      padding: 0 10px;
      cursor: pointer; }
      .try ul li:hover {
        color: lightgray;
        background-color: #3b6363; }

.player {
  height: 150px;
  width: 100%;
  padding: 20px;
  float: left; }
  .player .icon {
    float: left;
    width: 150px;
    height: 100%; }
    .player .icon img {
      width: 100px;
      height: 100px; }
  .player .name {
    float: left;
    width: 400px;
    height: 100%; }
    .player .name h3 {
      line-height: 50px;
      text-align: left;
      font-size: 3.5em; }

.results {
  list-style: none;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid grey;
  float: left; }
  .results > li {
    margin: 0;
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    background: white; }
    .results > li:first-child {
      border-top: 1px solid grey; }

.victory, .winner, .loser {
  float: left;
  width: 20px;
  height: 100%; }

.winner {
  background: greenyellow; }

.loser {
  background: red; }

.fa-spinner {
  padding: 50px;
  width: 100%;
  text-align: center; }

.champ {
  height: 100%;
  width: 150px;
  float: left; }
  .champ > img {
    float: left;
    height: 72px;
    margin: 24px 5px 24px 24px; }
  .champ > div {
    float: left;
    height: 72px;
    margin: 24px 0;
    width: 24px; }
    .champ > div > img {
      float: left;
      height: 34px;
      width: auto; }
      .champ > div > img:first-child {
        margin-bottom: 4px; }

.mode, .kda, .gold, .time {
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  display: table;
  font-size: 1.2em; }
  .mode span, .kda span, .gold span, .time span {
    display: table-cell;
    vertical-align: middle; }
  .mode small, .kda small, .gold small, .time small {
    font-size: 0.7em; }

.items {
  float: left;
  height: 100%;
  list-style: none;
  padding: 0 20px; }
  .items > li {
    display: inline;
    float: left;
    padding: 1px; }
    .items > li > img {
      height: 42px;
      margin: 39px 0; }
    .items > li:last-child {
      padding-left: 5px; }

.kda {
  width: 50px; }

.gold {
  width: 100px; }

.time {
  width: 100px; }

footer {
  margin-top: 50px;
  float: left; }

.alert {
  margin-top: 50px; }

.champList {
  float: left;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  text-align: center; }
  .champList li {
    float: left;
    display: inline;
    padding: 0;
    margin: 0; }

@-webkit-keyframes webkit-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.fa-spinner {
  padding: 50px;
  width: 100%;
  text-align: center;
  -webkit-animation-name: webkit-rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

/*# sourceMappingURL=style.css.map */
